.App {
  text-align: center;
}
.profile_area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.profile_area p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}
.profile_area img{
  border-radius: 50%;
}
.profile_area,
.table-area{
  margin: 0 auto;
  max-width: 968px;
}

